*{
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('city1.jpg');
  color: white;
  background-size: cover;
  background-position: top;
}

.body{
  background-size: cover;
  background-position: top;
}

}

.header{
  font-size: 72px;
  text-align: center;
}

.subHead{
  font-size: 24px;
}

.registrationForm{
  width: 40%;
  border: 2px solid #000;
  padding: 30px 0;
  /* border */
  text-align: center;
  margin-top: 4%;
  margin-left: 30%;
  font-size: 24px;
}

.id{
  width: 200px;
  height: 20px;
  border: 2px solid #000;
  border-top: none;
  border-left: none;
  border-right: none;
}

.btn{
  padding: 3px 7px;
}
